<!DOCTYPE html>
<html>

<head>


<style>
#header {
    background-color:#3b5998;
    color:white;
    text-align:center;
    padding:5px;
    font-family: Tahoma
}
#nav {
    line-height:30px;
    background-color:#eeeeee;
    height:500px;
    width:400px;
    float:left;
    padding:5px;        
}
#section {
    width:350px;
    float:left;
    padding:10px;    
}
#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
   padding:5px;    
}
</style>
</head>
<body>

<div id="header">
<h1>eventFindr</h1>
</div>




<div  id="nav" style="width:400px;height:500px;line-height:3em;overflow:auto;padding:5px;">
One small line of text. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In dictum, leo in posuere dignissim, eros lorem hendrerit neque, non maximus purus justo in mi. Sed aliquam malesuada lobortis. Vestibulum semper mattis libero sed sollicitudin. Proin id lorem ac arcu hendrerit mattis ac vitae magna. Ut quis mi lorem. Mauris sagittis non diam vitae cursus. Aenean dapibus vel enim non consectetur. Nam interdum risus dui, quis efficitur purus fermentum quis. Fusce convallis aliquet ultricies. Aliquam erat volutpat.

Etiam viverra neque in nibh porttitor sodales. Mauris ac blandit magna, vitae suscipit massa. Pellentesque non viverra velit, sit amet feugiat nisl. Nullam eu blandit augue. Nunc vitae luctus mauris, non rhoncus nisl. Etiam id interdum metus, quis pulvinar eros. Nulla tempus dui mauris, vitae convallis ligula cursus in. Praesent nulla quam, pretium ac cursus ac, commodo vitae orci.

Cras vel pellentesque ante. Vestibulum sit amet mattis augue. Maecenas dignissim lacinia nunc, vitae convallis nulla gravida et. Nullam eget sem id magna sollicitudin semper. Vestibulum augue lectus, lobortis quis dolor eu, lobortis rhoncus dui. Morbi fringilla neque sed purus tempus, sed feugiat mi porta. Quisque lacinia at lacus posuere gravida. Maecenas urna risus, tincidunt vel massa ac, gravida vehicula metus. Vivamus quis dolor sed lectus luctus dictum.

In mollis varius volutpat. Suspendisse nulla eros, dictum eget volutpat vitae, faucibus ac tortor. Integer in est et nisi lacinia hendrerit. Duis scelerisque neque at ligula convallis fermentum. Proin nisl justo, rhoncus sit amet nibh ut, scelerisque convallis purus. Vestibulum nec euismod justo. In luctus auctor auctor. Nulla pharetra, leo a vestibulum congue, leo lorem imperdiet diam, non sagittis lectus nulla eget metus. Maecenas aliquet ex mauris. Donec mattis, nulla ac molestie iaculis, ex augue lobortis nibh, in gravida justo velit nec ligula. Praesent lectus nisi, aliquam at fringilla sed, dictum vitae turpis. Nullam nec libero et libero placerat viverra. Phasellus non justo quis ipsum finibus ornare. Sed luctus vitae risus vitae pharetra.

Sed lobortis lobortis velit vitae lobortis. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur euismod semper tellus in congue. Nunc dictum nibh quam, et pharetra lectus tempus a. Suspendisse potenti. Vivamus metus lorem, suscipit quis est non, luctus semper elit. Quisque placerat purus at tempor imperdiet. Aenean viverra felis in dolor pretium, condimentum varius erat imperdiet. Donec id malesuada nisl, non efficitur nisi. 
List<br>

Events near you: <br>
<li>howdy do</li>
	<div id="list"> </div>
</div>




<div id="section">
<p>Map goes here</p>
    <div id="map"></div>
</div>
</div>

    <style>
      #map {
        width: 500px;
        height: 400px;
      }
    </style>
    <script>
      function initMap() {
        var mapDiv = document.getElementById('map');
        var map = new google.maps.Map(mapDiv, {
          center: {lat: 33.749, lng: -84.388},
          zoom: 11
        });

        var beaches = [
  ['Bondi Beach', 33.760, -84.274856, 4],
  ['Coogee Beach', 33.923036, -84.259052, 5],
  ['Cronulla Beach', 34.028249, -84.157507, 3],
  ['Manly Beach', 33.80010128657071, -84.28747820854187, 2],
  ['Maroubra Beach', 33.950198, -84.259302, 1]
];
setMarkers(map);
function setMarkers(map) {
  // Adds markers to the map.

  // Marker sizes are expressed as a Size of X,Y where the origin of the image
  // (0,0) is located in the top left of the image.

  // Origins, anchor positions and coordinates of the marker increase in the X
  // direction to the right and in the Y direction down.
  var image = {
    url: 'http://labs.google.com/ridefinder/images/mm_20_red.png',
    // This marker is 20 pixels wide by 32 pixels high.
    size: new google.maps.Size(20, 32),
    // The origin for this image is (0, 0).
    origin: new google.maps.Point(0, 0),
    // The anchor for this image is the base of the flagpole at (0, 32).
    anchor: new google.maps.Point(0, 32)
  };
  // Shapes define the clickable region of the icon. The type defines an HTML
  // <area> element 'poly' which traces out a polygon as a series of X,Y points.
  // The final coordinate closes the poly by connecting to the first coordinate.
  var shape = {
    coords: [1, 1, 1, 20, 18, 20, 18, 1],
    type: 'poly'
  };
  for (var i = 0; i < beaches.length; i++) {
    var beach = beaches[i];
    var marker = new google.maps.Marker({
      position: {lat: beach[1], lng: beach[2]},
      map: map,
      icon: image,
      shape: shape,
      title: beach[0],
      zIndex: beach[3]
    });
  }
}
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?callback=initMap"
        async defer></script>

	

	<script >
var options = [
        set0 = ['Option 1','Option 2'],
        set1 = ['First Option','Second Option','Third Option']
    ];

function makeUL(array) {
    // Create the list element:
    var list = document.createElement('ul');

    for(var i = 0; i < array.length; i++) {
        // Create the list item:
        var item = document.createElement('li');

        // Set its contents:
        item.appendChild(document.createTextNode(array[i]));

        // Add it to the list:
        list.appendChild(item);
    }
    
    // Finally, return the constructed list:
    return list;
} 
	</script>



  </body>
</html>