<!DOCTYPE html>
<html>
<head>
  <style>
    #map {
      width: 500px;
      height: 400px;
    }
  </style>
</head>
<body>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1749626521937958',
      xfbml      : true,
      version    : 'v2.5'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));

  function Login() {
    FB.login(function(response) {
        if (response.authResponse) {
         console.log('Welcome!  Fetching your information.... ');
         FB.api('/me', function(response) {
           console.log('Good to see you, ' + response.name + '.');
         });
        } else {
         console.log('User cancelled login or did not fully authorize.');
        }
    },{scope: 'user_events'});
}

 function test() {
  FB.api(
    "/me/events",
    function (response) {
      if (response && !response.error) {
        for (var i = response.data.length - 1; i >= 0; i--) {
          console.log(response.data[i]);
        };
      }
    }
  );
 }

</script>
<button onclick="Login()">Login with Facebook</button>
<button onclick="test()">Test</button>
</body>
</html>
